{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
{% block title %}Delete Entry{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">Delete Entry</h1>
  <p class="lead">The fields are deleted permanently from the database?</p>
  <hr class="my-4">
  <p>This action can not be reverted!!!!</p>
  <a class="btn btn-danger btn-lg" href="{{ url_for('jobs') }} " role="button">Back to Listings!</a>

</div>
    </div>

{% endblock %}
