{% extends 'bootstrap/base.html' %}
{% block title %}Applied Job Openings{% endblock %}
{% block content %}

<div class="container">

      <h3>Edit Input</h3>
        <form class="table table-striped table-dark" action="{{ url_for('edit') }}"  method="POST">
<div class="form-row">
    <div class="col">
         <p >Update date: {{name.update_date}}</p><br>
          <p >Status: {{name.status}}</p><br>
          <p >Comments: {{name.comments}}</p><br>
          <p> Company review: {{name.company_review}}</p>
          <input hidden="hidden" name="id" value="{{name.id}}">
    </div>
    <div class="col">
          <label>Update Values</label>
          <input type="date" class="form-control" name="last_update_date" placeholder="date"><br>
            <select  class="form-control" name="status" >
              <option selected>Choose an Option..</option>
              <option>Applied</option>
              <option>Interview</option>
              <option>Awaiting</option>
              <option>Rejected</option>
              <option>Employed</option>
            </select><br>
          <input type="text" class="form-control" name="comments" placeholder="Comment"><br>
          <input type="text" class="form-control" name="company_review" placeholder="Review"><br>
          <button type="submit">Update Data</button>
    </div>
</div>
      </form>
    <div class="row">
         <div class="col">
                    <p>
                        <button class="btn btn">
                            <a href="/" >Return to index page</a>
                        </button>
                    </p>
         </div>
        <div class="col">
                   <p>
                       <button class="btn btn">
                           <a href="/add" >Add a new application</a>
                       </button>
                   </p>
        </div>
    </div>
         </div>


{% endblock %}
